<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Lista de autos</a>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col md-7">
                <h2> <%= ErrMsg %></h2>
            </div>
        </div>
    </div>
    <script src="/bootstrap.min.js"></script>
</body>
</html>